<!-- Don't forget the "|safe"! -->
<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>
<div id="chart" class="column">
   <embed type="image/svg+xml" src= {{ chart|safe }} />
<div class="title">Estoque {{valor_estoque}}</div>
</div>
<div id="chart3" class="column">
   <embed type="image/svg+xml" src= {{ chart3|safe }} />
   <div class="title">Valor Vendido Total: {{valor_total}}</div>
</div>
</body>
</html>
