<html>
<body>
<form method="POST" action="">
	<center>{{value}}</center>
	<H1>Cadastre um novo Produto </H1> <br>
	Nome <input type = "text" name = "name_vendors" /> <br>
	Sobrenome <input type = "text" name = "subname_vendors" /> <br>
	Telefone <input type = "int" name = "telephone_vendor" /> <br>
	Email <input type = "text" name = "email_vendor" /> <br>
	Rg <input type = "int" name = "rg_vendors" /> <br>
	Cpf <input type = "int" name = "cpf_vendor" /><br>
	Cidade <input type = "text" name = "city_vendor" /> <br>
	Bairro <input type = "text" name = "netighborhood_vendor" /> <br>
	Rua <input type = "text" name = "street_vendor" /> <br>
	Numero <input type = "int" name = "number_vendor" /> <br>
	Complemento <input type = "text" name = "complement_vendor" /> <br>
	Cep <input type = "int" name = "zip_vendor" /> <br>
	Associacao <input type = "text" name = "associ_vendor" /> <br>
	Empresa <input type = "text" name = "entrepreneurship_vendor" /> <br>
	Password <input type = "password" name = "password_vendor" /> <br>
	Select image to upload:
	<input type="file" name="fileToUpload"> <br>
	<input type = "submit">
	
</form>
</body>
</html>
